<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="demoApp">
<head>
    <title></title>
    <script src="scripts/angular.js"></script>
    <script src="scripts/custom.js"></script>
    <link href="Styles.css" rel="stylesheet" />
</head>
<body ng-controller="countryController">
    <span ng-repeat="country in countries">
        <button ng-click="scrollTo(country.Name)">{{country.Name}}</button>
    </span>
    <br /><br />
    <div style=" display: block;
    font-size: xx-large;
    height: 350px;
    width: 400px;
    border: 1px solid black;
    padding: 10px;
    overflow-y: scroll;">
        <fieldset ng-repeat="country in countries" id="{{country.Name}}">
            <legend>{{country.Name}}</legend>
            <ul>
                <li ng-repeat="city in country.Cities">
                    {{city.Name}}
                </li>
            </ul>
        </fieldset>
    </div>
</body>
</html>