<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="scripts/angular.js"></script>
        <script src="scripts/custom.js"></script>
    </head>
    <body ng-app="myApp">
        <div ng-controller="myController">
            <table>
                <thead>
                    <th ng-click="soringcolumn(name)" style="cursor:pointer">
                        Name
                    </th>
                    <th ng-click="soringcolumn(dateOfBirth)" style="cursor:pointer">
                        Date of Birth
                    </th>
                    <th ng-click="soringcolumn(gender)" style="cursor:pointer">
                        Gender
                    </th>
                    <th ng-click="soringcolumn(salary)" style="cursor:pointer">
                        Salary
                    </th>
                </thead>
                <tr ng-repeat="employee in employees | orderBy:sorting">
                    <td>
                        {{employee.name}}
                    </td>
                    <td>
                        {{employee.dateOfBirth | date:"dd/MM/yy"}}
                    </td>
                    <td>
                        {{employee.gender}}
                    </td>
                    <td>
                        {{employee.salary}}
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>